<div class="row">
  <div class="col-md-12">
    <div class="d-flex flex-row">
      <h2>Manage Products</h2>
    </div>
    <div class="d-flex flex-row-reverse">
      <a class="btn btn-primary mb-2" routerLink="/admin/products/new">Add New Product</a>
    </div>
    <hr>
  </div>

  <div class="col-md-12">
    <table class="table table-striped" [mfData]="products" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead>
        <tr>
          <th style="width: 40%">
            <mfDefaultSorter by="imageurl"></mfDefaultSorter>
          </th>
          <th style="width: 30%">
            <mfDefaultSorter by="title">Product Name</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="price">Category</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="category">Price</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="category">Availability</mfDefaultSorter>
          </th>
          <th>

          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products">
          <td>
            <img src="{{item.data.imageUrl}}" width="150px" height="150px">
          </td>
          <td>{{item.data.title}}</td>
          <td>
            <div *ngFor="let cat of categories">
              <span *ngIf="item.data.category==cat.key">{{cat.data.description}}</span>
            </div>
          </td>
          <td>{{item.data.price | currency : 'USD'}}</td>
          <td>Yes</td>
          <td>
            <a routerLink="/admin/products/new" [queryParams]="{productKey : item.key}">Edit</a>&nbsp;&nbsp;
            <a routerLink="deleteProduct()">Delete</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>