<div class="text-center">
  <h2 class="pageTitle">Manage Product Categories</h2>
  <p class="lead shopping-quotes">Create and update Product categories here.</p>
</div>
<hr />
<div class="row">
  <div class="col-md-4">
    <form [formGroup]="frm">
      <div class="form-group">
        <input class="form-control" type="text" formControlName="description" placeholder="Category Description">
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <button *ngIf="!categoryKey" class="btn btn-primary" (click)="addCategory()">Create</button>
      <button *ngIf="categoryKey" class="btn btn-primary" (click)="updateCategory()">Update</button>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-4 col-xs-12" *ngFor="let item of categories">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <div>
          <h5 class="mb-0 float-left">
            <a class="text-dark" href="#">{{item.data.description}}</a>
          </h5>
        </div>
        <p class="card-text mb-auto">
          <a (click)="editCategory(item.key,item.data.description)" class="card-link" href="javascript:void(0)">Modify</a>
          <a (click)="deleteCategory(item.key)" class="card-link" href="javascript:void(0)">Remove</a>
        </p>
      </div>
      <!--<img class="card-img-right flex-auto d-none d-md-block d-sm-inline" data-src="{{product.data.imageUrl}}" alt="Image not available"
        style="width:200px;height:200px">-->
    </div>
  </div>
</div>
<!--
<table class="table table-striped" [mfData]="categories" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
    <tr>
      <th>
        <mfDefaultSorter by="description">Category Description</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter>Action</mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of categories">
      <td>{{item.data.description}}</td>
      <td>
        <a  class="mouse-pointer">Delete</a>&nbsp;&nbsp;
        <a (click)="editCategory()" class="mouse-pointer">Edit</a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>-->