.mouse-pointer {
  cursor: pointer
}

/*
  .pt-15{
    padding-top: 15px;
  }

  .mb-15{
    margin-bottom: 15px;
  }

  .card{
    margin-bottom: 15px;
  }

  .tabTitle {
    font-size:25px;
  }
*/

.mt-12 {
  margin-top: 12px;
}

.pageTitle {
  color: green;
}

.shopping-quotes {
  color: green
}

.clickableLink {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.incrementor {
  max-width: 2.5rem;
  padding: .375rem .5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}