<div class="text-center">
  <h2 class="pageTitle">My Orders</h2>
  <p class="lead shopping-quotes">Go green and help save the environment.</p>
</div>
<div class="row">
  <div class="col-md-6 col-xs-12" *ngFor="let item of items">
    <div class="card flex-md-row mb-4 box-shadow h-md-250" *ngFor="let product of item.data.selectedProductsDetails">
      <div class="card-body d-flex flex-column align-items-start">
        <div>
          <h4 class="mb-0 float-left">
            <a class="text-dark" href="#">{{product.data.title}}</a>
          </h4>
          <strong class="float-right ml-2 mb-2" [ngClass]="getDeliveryStatus(product.data.deliveryStatus,item.data.orderStatus)">{{product.data.deliveryStatus}}</strong>
        </div>
        <div class="mb-1 text-muted">Order Tracking Id : #{{item.key }}</div>
        <div class="mb-1 text-muted">Order Placed on {{item.data.orderCreationDate | date }}</div>
        <div class="mb-1 text-muted">Delivery Location is {{item.data.shippingDetails.city}}</div>
        <div class="mb-1 text-muted">Arriving on {{item.data.orderDeliveryDate | date }}</div>

        <p class="card-text mb-auto">
          <a class="card-link" href="#">Return</a>
          <a class="card-link" href="#">Review</a>
        </p>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block d-sm-inline" data-src="{{product.data.imageUrl}}" alt="Image not available"
        style="width:200px;height:200px">
    </div>
  </div>
</div>