<div class="row">
  <div class="col-md-6">
    <form [formGroup]="frm">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" formControlName="title">
      </div>
      <div class="form-group">
        <label>Price</label>
        <input class="form-control" type="text" formControlName="price">
      </div>
      <div class="form-group">
        <label>Category</label>
        <select class="form-control" formControlName="category">
          <option *ngFor="let cat of categories" [value]="cat.key">{{cat.data.description}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Image Url</label>
        <input class="form-control" type="text" formControlName="imageUrl">
      </div>
      <div class="form-group">
        <button *ngIf="!productKey" class="btn btn-primary" (click)="saveProduct()">Save</button>
        <button *ngIf="productKey" class="btn btn-primary" (click)="updateProduct()">Update</button>
      </div>
    </form>
  </div>
  <div class="col-md-3">
    <div class="card-group">
      <div class="card" *ngIf="frm && frm.get('title') && frm.get('title').value">
        <img class="card-img-top" *ngIf="frm && frm.get('imageUrl') && frm.get('imageUrl').value" src="{{frm.get('imageUrl').value}}" alt="Card image cap" style="height:200px;width:200px">
        <div class="card-body">
          <h3 class="card-title">{{ frm.get('title').value}}</h3>
          <p class="card-text">{{ frm.get('price').value | currency : 'USD'}}</p>
          <div class="card-text">
            <div *ngFor="let cat of categories">
              <p *ngIf="frm.get('category').value==cat.key">{{cat.data.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>